# PostgreSQL Configuration
POSTGRES_USER=cha_trade
POSTGRES_PASSWORD=cha_trade_password
POSTGRES_DB=cha_trade

# Database URL
DATABASE_URL=postgres://<user>:<password>@localhost:5456/<db>

# Auth Service
AUTH_SERVICE_PORT=8081
AES_KEY=<64-char-hex>
HMAC_KEY=<64-char-hex>
JWT_SECRET=<your-jwt-secret-key>

# Account Service
ACCOUNT_SERVICE_PORT=8080

# Kafka
KAFKA_BROKERS=localhost:9092
